<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список постов</title>
</head>
<body>
    <h1>Список постов</h1>
    <ul>
        {% for post in posts %}
            <li>
                <h2>{{ post.title }}</h2>
                <p>{{ post.description }}</p>
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="{{ post.title }}" width="200">
                {% endif %}
                <p>Дата создания: {{ post.created_at }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
